# Ignore the venv directory
*venv*

# Ignore everything inside the data directory
/data*

# Ignore everything saved in the results directory
results*/

# Do not ignore specific file
!data_preparation.ipynb
!data_setup.py
!data_process.py

# Jupyter Notebook files
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Python Cache
__pycache__/

